In [26]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind, norm
import matplotlib.pyplot as plt
import seaborn as sns

In [35]:
# Load the test data
#data = pd.read_csv(r'C:\Users\parag\Desktop\ironhack\lab\week9\lab-t-tests-p-values\files_for_lab\data.xlsx')
#data

In [36]:
new=[42.1,41,41.3,41.8,42.4,42.8,43.2,42.3,41.8,42.7]
old=[42.7,43.6,43.8,43.3,42.5,43.5,43.1,41.7,44,44.1]

In [39]:
machine=pd.DataFrame(new)
machine["old"]=old
machine.columns=[['new','old']]
machine

    new   old
0  42.1  42.7
1  41.0  43.6
2  41.3  43.8
3  41.8  43.3
4  42.4  42.5
5  42.8  43.5
6  43.2  43.1
7  42.3  41.7
8  41.8  44.0
9  42.7  44.1

In [40]:
machine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   (new,)  10 non-null     float64
 1   (old,)  10 non-null     float64
dtypes: float64(2)
memory usage: 288.0 bytes

In [42]:
new_mach_mean = np.mean(new)
new_mach_std = np.std(new)

old_mach_mean = np.mean(old)
old_mach_std = np.std(old)

number_of_cases = 10

In [43]:
new_mach_mean

0.6483826030978941

In [44]:
new_mach_std

0.6483826030978941

In [45]:
old_mach_mean

43.230000000000004

In [46]:
old_mach_std

0.7114070564732956

In [48]:
#checking if the machines are different.
statistic = (new_mach_mean - old_mach_mean)/(old_mach_std/math.sqrt(number_of_cases))
print("T Statistic is: ", statistic)

T Statistic is:  -4.84516229944499

In [60]:
# We use scipy for the t-test calculation

ttest = ttest_ind(old, new)
print(f'p_value = {round(ttest[1], 5)}')

p_value = 0.00321

In [62]:
data = pd.read_csv( r'files_for_lab/student_gpa.txt', sep='\t')
data

    Sophomores    Juniors
0         3.04       2.56
1         1.71       2.77
2         3.30       2.70
3         2.88       3.00
4         2.11       2.98
5         2.60       3.47
6         2.92       3.26
7         3.60       3.20
8         2.28       3.19
9         2.82       2.65
10        3.03       3.00
11        3.13       3.39
12        2.86       2.58
13        3.49        NaN
14        3.11        NaN
15        2.13        NaN
16        3.27        NaN

In [64]:
data=data.dropna()
data

    Sophomores    Juniors
0         3.04       2.56
1         1.71       2.77
2         3.30       2.70
3         2.88       3.00
4         2.11       2.98
5         2.60       3.47
6         2.92       3.26
7         3.60       3.20
8         2.28       3.19
9         2.82       2.65
10        3.03       3.00
11        3.13       3.39
12        2.86       2.58

In [77]:
sophomores_mean = np.mean(data['Sophomores'])
sophomores_std = np.std(data['Sophomores'])
Juniors_mean = np.mean(data['  Juniors'])
Juniors_std = np.std(data['  Juniors'])

In [79]:
#checking if the machines are different.
statistic = (sophomores_mean - Juniors_mean)/(Juniors_std/math.sqrt(13))
print("T Statistic is: ", statistic)

T Statistic is:  -2.3056013504357957

In [80]:
# We use scipy for the t-test calculation

ttest = ttest_ind(data['Sophomores'], data['  Juniors'])
print(f'p_value = {round(ttest[1], 5)}')

p_value = 0.26132